.showModal{
    animation: AnimationShowModal 300ms ease-in-out;
}

@keyframes AnimationShowModal{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
    }
}